.m20
  = link_to 'All subscriptions', subscriptions_path, {:class => "menu p5"}

- if @subscription && @subscription.doctor
  %h3 Subscription changed for #{@subscription.doctor.full_name} having email #{@subscription.doctor.email}
- else
  .error
    No subscription found for #{params[:email]}



