/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
*/

#container a {
    cursor: pointer;
    text-decoration: none;
}
.book-container a:hover {text-decoration: none;}

.book-heading {
  font-weight: 700;
  padding-bottom: 0px;
}

.book-body {
  width: 50%;
  padding: 20px;
}

.book-collapse, .page-collapse {

}

.book-pages, .page-subpages {
  display: none;
  padding-left: 20px;
}

.book-page {padding: 5px;}

.book-edit, .new-book, .page-edit, .new-page {
  margin-top: 20px;
  padding: 20px;
  display: none;
  border: 1px dashed gray;
  width: 60%;
}

.btn-large {
  padding: 5px 25px !important;
  height: 30px !important;
}

.flash {
  margin-top: 5px;
}

.p20 {
  padding: 20px;
}