/*
  Place all the styles related to the matching controller here.
  They will automatically be included in application.css.
*/

#container a {
    cursor: pointer;
    text-decoration: none;
}
.book-container a:hover {text-decoration: none;}

.book-heading {
  font-weight: 700;
  padding-bottom: 0px;
}

.book-body {
  width: 50%;
  padding: 20px;
}

.book-collapse, .page-collapse {

}

.book-pages, .page-subpages {
  display: none;
  padding-left: 20px;
}

.book-page {padding: 5px;}

.book-edit, .new-book, .new-page {
  margin-top: 20px;
  padding: 20px;
  display: none;
  border: 1px dashed gray;
  width: 60%;
}


.btn-large {
  padding: 5px 25px !important;
  height: 30px !important;
}

.flash {
  margin-top: 5px;
}

.p20 {padding: 20px;}
.pl20 {padding-left: 20px;}
.pt20 {padding-top: 20px;}
.m20 {margin: 20px;}

.page-container {position: relative;}
.frame-container {border: 1px dotted black; padding: 10px;}

/*.modal {left: 20% !important;}*/
.modal {z-index: 9999;}
.modal-body {padding-left: 10% !important; width: 80%;}
.modal-body input[type="submit"] {
  margin-left: 40%;
  width: 100px;
}

.page-frames {
  margin-left: 5px;
}

.page-edit {
  position: relative;
}

#navigation {width: 20%;}
#content {width: 80%;}

.context-menu {
  display: none;
  position: absolute;
  z-index: 1000;
  background: white;
  color: white;
  padding: 10px 20px;
  opacity: 0.9;
  border: 1px solid gray;
  border-radius: 4px;
}

