/*
 the global style sheet
*/

/* ------  first reset all definitions for all styles  because browsers differ in their defaults -------- */

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, code,
del, dfn, em, img, q, dl, ol, strong,
fieldset, form, label, legend, input, button
table, caption, tbody, tfoot, thead, tr, th, td, ul {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: 'Lucida Grande', 'Arial', 'Liberation Sans', 'Helvetica', 'sans';
  /*
   vertical-align: baseline;
  line-height: 15px;*/
}

em {font-style:italic;}
strong {font-weight:bold;}

body { background: #fff; margin:1.5em 0; position: relative; padding: 0px 20px;}

/* Tables still need 'cellspacing="0"' in the markup. */
table { border-collapse: separate; border-spacing: 0; }
caption, th, td { text-align: left; font-weight:400; padding: 5px;}

/* Remove possible quote marks (") from <q>, <blockquote>. */
blockquote:before, blockquote:after, q:before, q:after { content: ""; }
blockquote, q { quotes: "" ""; }

/* for Firefox */
a img { border: none; }

input { height:19px; border: 1px solid lightgray; margin: 0px; padding: 0 0 0 3px;}
input[type="checkbox"] {height:13px; line-height:15px;margin: 3px; border: 0px;}

button, input[type=submit] {
 border: 1px solid gray;
 background-color: lightgray;
 font-family: 'Times New Roman', 'Liberation Serif', 'sans-serif';
 padding: 0 5px;
 height: 24px;
 }

input:active, input:focus, input[type=submit]:hover, input[type=button]:hover, button:hover { border: 1px solid orange; }

input {
  vertical-align: middle;
  margin: 0 0 2px 0;
}

input[type=radio] {
  margin-right: 4px;
}

input[type=file] {
  padding-left: 0px;
  height: 24px;
}

input[type=checkbox] {
  margin-right: 4px;
}

/* HTML5 tags */
applet,address,big,cite,ins,kbd,s,samp,small,strike,
sub,sup,tt,var,b,u,i,center,article,aside,canvas,details,embed,figure,figcaption,
footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video {
  margin:0;
  padding:0;
  border:0;
  font-size:100%;
  font:inherit;
  vertical-align:baseline
}

tr {height: 23px;}

/* --------------- end of reset rules ----------------------------*/

table {border-collapse:collapse; border: 1px;}
body {background-color: #FFFFFF; margin: auto; color:#3D414B; font-size: 12px;}

h1 {font-size: 24px; font-weight: bold; margin: 20px 0px; }
h2 {font-size: 19px; font-weight: bold; margin: 15px 0px; }
h3 {font-size: 14px; font-weight: bold; margin: 10px 0px; }
h4 {font-size: 12px; font-weight: bold; margin: 0 0 10px 0;}
p {line-height:140%; margin: 0 0 .5em 0;}



/* a definitions must be ordered: link, visited, hover, active */

a {
  /* color: #2B80AF; */
  outline: none;
  outline-style: none;
  -moz-outline-style: none;
  text-decoration: none;
}


a:link, .links a { text-decoration: none;  color: #2B80AF;}

/*
a:visited { text-decoration: none;  color: #2B80AF;}
a:active { text-decoration: none; color: #07B8FF; }
a:focus { text-decoration: none; color: #07B8FF; }
a:hover { text-decoration: none; color: #07B8FF; }
*/
  
/* too sweeping a definition */
*:focus {outline-style: none; outline-style: none; -moz-outline-style: none; outline:0;}


#header {
  background-color: #F1F1F1;
  height: 52px;
  width: 95%;
  /* margin-bottom: 3px; */
  text-align: center;
  vertical-align: middle;
  /*
  -moz-box-shadow: 0px 3px 2px lightgray;
  -webkit-box-shadow: 0px 3px 2px lightgray;
 */
  margin: 0 auto 0 auto;
  /*padding: 0px 10px 0px 10px;*/
}

#container {  margin: 0 auto 0 auto; width: 1024px; position: relative; min-height: 500px;}


#logo {float: left; padding-left: 20px;}

.logo-text-old {
  color: #db00ab;
  font-weight: bold;
  font-size: 28px;
  font-family: 'Times New Roman', 'Liberation Serif', 'sans-serif';
  margin-left: 0px;
}

.logo-text {
  color: #db00ab;
  font-weight: bold;
  font-size: 28px;
  margin-left: 0px;
}

#welcome {color: #7D818E; margin-top: 12px; margin-left: 30px; float: left;}

#header_links {float: right; margin: 0 0 0 0;}
div#header_links a {text-decoration: none; margin: 0 0 0 20px; color:  #2B80AF;}
div#header_links a:hover {color: #07B8FF; }
div#header_links a:active {color: #3D414B; }


#footer {
  clear: both;
  width: 100%;
  height: 120px;
  padding: 0 0 0 0;
  margin: 3px 0 0 0;
  /*
  background-color: #F1F1F1;
  background-image: url(../images/footer_gradient.png);
  background-repeat: repeat-x;
  */
  background-image: -moz-linear-gradient(top, #F1F1F1, #FFFFFF);
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#F1F1F1), to(#FFFFFF));
}


.info-subsection {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 192px;
  height: 100%;
  padding: 10px 10px 10px 10px;
}

.help-tip {
  clear: both;
  display: none;
  position: absolute;
  z-index: 100;
  border: 2px solid lightgray;
  background-color: #FAFAD2;
  padding: 7px;
  -moz-box-shadow: 5px 5px 5px lightgray;
  -webkit-box-shadow: 5px 5px 5px lightgray;
}

#error, .error {color: red;}

a.normal {
  text-decoration: underline;
  color: #2B80AF;
}

a.alarm {
  text-decoration: none;
  color: #A52A2A;
}

.fl { float: left}
.fr { float: right}
.mp0 {margin: 0px; padding: 0px;}
.m0a {margin:0 auto 0 auto; position: relative;}
.ml0 {margin-left:0px;}
.ml5 {margin-left:5px;}
.ml7 {margin-left:7px;}
.ml10 {margin-left:10px;}
.ml15 {margin-left:15px;}
.ml20 {margin-left:20px;}
.ml26 {margin-left:26px;}
.ml30 {margin-left:30px;}
.ml40 {margin-left:40px;}
.ml100 {margin-left:100px;}
.ml200 {margin-left:200px;}
.ml50 {margin-left:50px;}
.ml70 {margin-left:50px;}
.mr200 {margin-right:200px;}
.mr360 {margin-right:360px;}
.mr40 {margin-right:40px;}
.mr100 {margin-right:100px;}
.mr10 {margin-right:10px;}
.mr5 {margin-right:5px;}
.mr20 {margin-right:20px;}
.mt2 {margin-top:2px;}
.mt5 {margin-top:5px;}
.mt10 {margin-top:10px;}
.mt12 {margin-top:12px;}
.mt15 {margin-top:15px;}
.mt20 {margin-top:20px;}
.mt40 {margin-top:40px;}
.mt50 {margin-top:50px;}
.mt5 {margin-top:5px;}
.mb10 {margin-bottom:10px;}
.m2 {margin:2px;}
.m5 {margin:5px;}
.m10 {margin:10px;}
.m20 {margin:20px;}
.pl10 {padding-left:10px;}
.pl20 {padding-left:20px;}
.pl30 {padding-left:30px;}
.pl40 {padding-left:40px;}
.pl50 {padding-left:50px;}
.pl100 {padding-left:100px;}
.pr10 {padding-right:10px;}
.pt5 {padding-top:5px;}
.pr40 {padding-right:40px;}
.pt10 {padding-top:10px;}
.pt20 {padding-top:20px;}
.pt40 {padding-top:40px;}
.pt2 {padding-top:2px;}
.p3 {padding:3px;}
.p5 {padding:5px;}
.p7 {padding:7px;}
.p10 {padding:10px;}
.pb10 {padding-bottom:10px;}
.p20 {padding:20px;}
.p50 {padding:50px;}
.r100 {right: 100px;}
.clear10 {clear: both; height: 10px;}
.clear0 {clear: both; margin: 0px; padding: 0px;}
.clear0 li {clear: both;}
.hidden {display:none;}
.red_small {color: red; font-size: 80%;}
.gray-border {border: solid 1px gray;}
.gray-border_lr {border-left: solid 1px gray; border-right: solid 1px gray;}
.bcwhite {background-color: #FFFFFF;}
.bcsilver {background-color: silver;}
.bw {color: white; font-weight: bold;}
.small-text {font-size: 90%; color: gray;}
.tiny-text {font-size: 75%; color: gray;}
.serif {font-family: 'Times New Roman', 'Liberation Serif', 'sans-serif' ;}
.cp {cursor: pointer}

/*

  width should be set each time this is used
  to about same width as the region for which error is reported
*/
.flash-message {
  color: red;
  background-color: #FFE1DC;
  min-height: 20px;
  width: 600px; /* default - change this! */
  margin: 20px 0px 20px 30px;
  padding: 5px 0px 5px 10px;
  border: 1px solid #FFC0CB;
}

.flash-notice {
  padding: 5px 10px 5px 10px;
  margin: 0px;
  border: 0px;
  background-color: #B3EF5B;
  color:green;
}

.flash-warning, .warning {
  padding: 5px 10px 5px 10px;
  background-color: #ffff70;
  color:green;
  width: 65%;
  font-weight: 300;
}

.flash-error {
  padding: 5px 10px 5px 10px;
  margin: 0px;
  border: 0px;
  background-color: #FFE1DC;
  color:#CC0A0C;
}

#flash {
  height: 23px;
  padding: 7px 0px 0px 20px;
  margin: 0px;
  border: 0px;
}

#flash_notice {
  color: green; /*#879400;*/
  background-color: white;
}

#flash_error {
  color: #CC0A0C;
  background-color: #FFE1DC;
}


#notice {
  color: green;
}

#error {
 color: red;
}

.form-error {
  color: red;
  background-color: #FFE1DC;
  min-height: 16px;
  width: auto;
  margin: 5px;
  padding: 5px;
  border: 1px solid #FFC0CB;
}

.form-field-error {
  padding: 5px 10px 5px 10px;
  margin: 0px;
  border: 0px;
  background-color: #FFE1DC;
  color: #CC0A0C;
}



tr.disabled, span.disabled {color: lightgray;}
td.disabled, th.disabled {color: #B0B0B0;background-color: lightgray;}
td.disabled :input, div.disabled :input {color: #B0B0B0;background-color: lightgray;}
/* extra */

a.tdnb {
  text-decoration: none;
  font-weight: bold;
  /* color: gray; */
}

a.tdn {
  text-decoration: none;
  /* color: gray; */
}

.blue {color: #2B80AF;}


.small-text {
  font-size: 10px;
  color: gray;
}

.box {
  display: none;
  position: relative;
}

.visible {
  display: block;
}

.invisible {
  display: none;
}

/* styles for vertical menu */

.section .vertical {
  width: 440px;
  border-left: 160px solid #FFF;
}
.vertical .tabs {
  width: 160px;
  float: left;
  display: inline;
  margin: 0 0 0 -160px;
}
.vertical .tabs li {
  padding: 0 13px;
  margin: 0 0 1px;
  border: 1px solid #E4E4E4;
  border-right: 1px solid #F9F9F9;
  width: 132px;
  height: 25px;
}
.vertical .tabs li:hover {
  width: 131px;
}
.vertical .tabs li.current {
  width: 133px;
  color: #444;
  background: #EFEFEF;
  border: 1px solid #D4D4D4;
  border-right: 1px solid #EFEFEF;
  margin-right: -1px;
}
.vertical .box {
  border-width: 1px;
}


ul.tool-tabs {
border-bottom: 1px solid #DDD;
}

ul.tool-tabs li.disabled a {
 color: lightgray;
}

.z100 {
  z-index: 100;
}

button.available {
  background-color: #98FF98;
}


.rbox3 {
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -opera-border-radius: 3px;
  -khtml-border-radius: 3px;
  -border-radius: 3px;
  -o-border-radius: 3px;
  /*border-radius: 3px; */
}

.rbox5 {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -opera-border-radius: 5px;
  -khtml-border-radius: 5px;
  -border-radius: 5px;
  -o-border-radius: 5px;
  /* border-radius: 5px; */
}

.rbox7 {
  -moz-border-radius: 7px;
  -webkit-border-radius: 7px;
  -opera-border-radius: 7px;
  -khtml-border-radius: 7px;
  -border-radius: 7px;
  -o-border-radius: 7px;
  /* border-radius: 5px; */
}

.gray-button {
  border: 1px solid gray;
  color: black;
  background-color: lightgray;
  font-family: 'Lucida Grande', 'Arial', 'Liberation Sans', 'sans' ;
  width: 70px;
}

.error tr {
  background-color: #FFE1DC;
}

.error input {
  background-color: #FFF0EC;
}

/*    Tables */

/* tr:nth-child(even) { */
tr.even {
  background-color: lightyellow;
}

/* tr:nth-child(odd) { */
tr.odd {
  background-color: lightgray;
}

/* style for custom borders */

td.blr , th.blr {
  border-left: 1px solid #E5E5E9;
  border-top: 0px;
  border-bottom: 0px;
  border-right: 1px solid #E5E5E9;
}

td.bl, th.bl {
  border-left: 1px solid #E5E5E9;
  border-top: 0px;
  border-bottom: 0px;
  border-right: 0px;
}

td.br, th.br {
  border-right: 1px solid #E5E5E9;
  border-top: 0px;
  border-bottom: 0px;
  border-left: 0px;
}

table.properties {
 margin: 20px 0;
 width: 600px;
}

table.properties label {
  margin-right: 5px;
}

table.listing {
  margin: auto;
  width: 99%;
}

table.listing th, table.statistics th {
  font-weight: bold;
  text-align: center;
  background: aliceblue;
  border: 1px solid gray;
}

table.listing th a {
  width: 100%;
  height: 100%;
  display: block;
}


.listing a:visited { color: #2B80AF;}
.listing a:active { color: #07B8FF; }
.listing a:focus { color: #07B8FF; }
.listing a:hover { color: #07B8FF; }


.tar {text-align: right}

div.table-wrapper {
  border: 1px solid #7D818E;
  position: relative;
}



.submenu {
  display: none;
  background-color: #F1F1F1;
  text-align: left;
  -moz-box-shadow: 2px 2px 2px lightgray;
  -webkit-box-shadow: 2px 2px 2px lightgray;
  top: 65px;
  width: 140px;
  padding: 10px;
  position: absolute;
  border: 1px solid lightgray;
  z-index: 300;
  overflow: visible;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}

/* horisontal menu */

ul.menu {
  list-style: none;
  background: #F1F1F1;
  margin: 0px;
  height: 100%;
  padding: 0px;
}

ul.menu li {
  /* border-bottom: 1px solid lightgray; */ /* transparent;  */
  height: 20px;
  text-align: center;
  line-height: 20px;
  padding: 0 7px;
  cursor: pointer;
  position: relative;
  float: left;
  -border-radius-left: 3px;
  -border-radius-right: 3px;
  -webkit-border-radius-left: 3px;
  -webkit-border-radius-right: 3px;
  

  /* font-weight: bold; */
}

ul.menu li:hover {
  background:  #F0E68C;
  border-color: #ffca95;
}

ul.menu li.current {
  /* background:  white; */
  font-weight: bold;
  /* border: 1px solid lightgray; */ /* transparent;  */
  /* border-bottom: 0px; */

}

ul.menu li a, a.menu {color: #2B80AF;}
ul.menu li a:hover, a.menu:hover, .listing th a:hover {color: olive; background: #F0E68C;}



#footer_content {
  width: 700px;
  padding-top: 20px;
}

.footer_column {
  width: 160px;
  float: left;
}

.footer_column a {
  display: block;
  font-size: 11px;
  line-height: 20px;
}

.footer_column a:hover {
   background-color: transparent;
   color: gold;
 }


img.sort_dir {
  vertical-align: middle;
  margin-left: 5px;
}

.new-link {
  padding: 10px;
}

/*
#tag_help {
  border: 2px solid gray;
  padding: 7px;
  position: absolute;
  top: 100px;
  left: 700px;
  width: 350px;
}
*/